@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  color: #0ec0ca;
}

h1 {
  font-size: 3.5em;
  margin-top: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.5em;
  margin-top: 40px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.6em;
}

p {
  color: grey;
  font-family: "Arial", sans-serif;
  font-size: 1.3em;
  margin: 10px 20px 10px 10px;
  padding: 0 10px;
  text-align: justify;
}

header {
  width: 100%;
  height: 450px;
}

.header-secundario {
  width: 100%;
  height: 300px;
  background: #0ec0ca;
  background: -webkit-linear-gradient(to bottom, #0ec0ca, hsla(191, 78%, 68%, 0)), url();
  background: linear-gradient(to bottom, #0ec0ca, hsla(191, 78%, 68%, 0)), url();
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bg-gris {
  background-color: rgb(241, 239, 239);
}

footer {
  bottom: 0;
  padding: 20px 30px;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #444444;
}

footer img {
  width: 30px;
  margin-right: 10px;
}

footer p {
  text-decoration: none;
  color: black;
}

.botonera img {
  width: 150px;
}
@media (min-width: 280px) and (max-width: 320px) {
  .botonera img {
    width: 100px;
  }
}
.botonera ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.6em;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.botonera ul li a:hover {
  color: rgb(0, 0, 0);
  background-size: 100% 2px;
}

.header-niño1 {
  width: 100%;
  height: 600px;
  background: #0ec0ca;
  background: -webkit-linear-gradient(to bottom, rgba(14, 193, 202, 0.6431372549), hsla(191, 78%, 68%, 0.445)), url(../img/header/index/niño.webp);
  background: linear-gradient(to bottom, rgba(14, 193, 202, 0.7333333333), hsla(191, 78%, 68%, 0.445)), url(../img/header/index/niño.webp);
  background-size: cover;
  animation-name: IncioAnimado2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.textos-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.textos-header h1 {
  font-size: 3.5em;
  color: #fff;
}
.textos-header h2 {
  font-size: 2.5em;
  font-weight: 300;
  color: black;
  font-size: 1.6em;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.inicio-about {
  width: 100%;
  padding: 100px 0 200px 0;
  background-color: rgb(241, 239, 239);
}
.inicio-about .container {
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inicio-about .container .inicio-textos {
  max-width: 400px;
  margin-top: 40px;
}
.inicio-about .container .inicio-textos h3 {
  max-width: 400px;
  font-size: 60px;
  font-weight: 900;
  text-align: justify;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}
.inicio-about .container .inicio-textos p {
  margin-left: 10px;
  color: #373737;
}
.inicio-about .container .inicio-animado {
  bottom: 10px;
  right: 0px;
  height: 350px;
  width: 600px;
  background-size: cover;
  animation-name: IncioAnimado;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carousel-bg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-bg .carousel {
  width: 70%;
  padding-top: 80px;
}

@keyframes IncioAnimado {
  0% {
    background-image: url(/img/que-hacemos/foto1-que-hacemos.jpg);
  }
  50% {
    background-image: url(/img/que-hacemos/foto2-que-hacemos.jpg);
  }
  100% {
    background-image: url(/img/que-hacemos/foto3-que-hacemos.jpg);
  }
}
.header-vivienda {
  width: 100%;
  height: 600px;
  background: #0ec0ca;
  background: -webkit-linear-gradient(to bottom, rgba(14, 193, 202, 0.7176470588), hsla(191, 78%, 68%, 0.212)), url(../img/header/Entrega_vivienda.jpg);
  background: linear-gradient(to bottom, rgba(14, 193, 202, 0.6705882353), hsla(191, 78%, 68%, 0.192)), url(../img/header/index/Entrega-vivienda.webp);
  background-size: cover;
  animation-name: IncioAnimado2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.header-vivienda h1 {
  font-size: 3.5em;
  color: #fff;
  text-align: center;
  margin-top: 200px;
}

.que-hacemos {
  display: flex;
  padding: 70px 30px;
  margin: 120px 80px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.que-hacemos div {
  width: 30%;
  border: dashed #0ec0ca 2px;
  margin-top: 40px;
}
.que-hacemos div span {
  margin-top: 20px;
  font-size: 3.5em;
  font-family: "Roboto", sans-serif;
  color: #0ec0ca;
  text-shadow: 0em 0.009em 0.1em rgba(0, 0, 0, 0.226);
}
.que-hacemos div p {
  font-family: "Roboto", sans-serif;
  color: #0ec0ca;
  font-size: 1.6em;
  line-height: 1.5em;
  margin: 10px 0 40px 0;
  text-shadow: 0em 0.009em 0.1em rgba(0, 0, 0, 0.226);
  text-transform: uppercase;
  text-align: center;
}

.mision, .vision {
  display: flex;
  padding: 40px 50px;
  margin: 0px 70px;
  flex-direction: row;
  justify-content: space-between;
}
.mision h2, .vision h2 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  font-weight: 500;
}
.mision line, .vision line {
  stroke: #0ec0ca;
  stroke-width: 3;
}
.mision p, .vision p {
  display: inline-block;
  padding: 40px 0;
  margin-left: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 1.6em;
}

.vision {
  padding: 0px 50px;
  margin: 0px 70px;
}
.vision h2 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  font-weight: 500;
}
.vision line {
  stroke: #0ec0ca;
  stroke-width: 3;
}
.vision p {
  display: inline-block;
  padding: 40px 0;
  margin-left: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 1.6em;
}

.header-asilo {
  width: 100%;
  height: 600px;
  background: #0ec0ca;
  background: -webkit-linear-gradient(to bottom, rgba(14, 193, 202, 0.7176470588), hsla(191, 78%, 68%, 0.212)), url(../img/header/index/Anciano-asilo.webp);
  background: linear-gradient(to bottom, rgba(14, 193, 202, 0.6705882353), hsla(191, 78%, 68%, 0.192)), url(../img/header/index/Anciano-asilo.webp);
  background-size: cover;
  animation-name: IncioAnimado2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.header-asilo h1 {
  font-size: 3.5em;
  color: #fff;
  text-align: center;
  margin-top: 100px;
}

.section-noticias-e-historias {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  padding-bottom: 100px;
  font-weight: 500;
}

.noticias-e-historias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "card1 card1 card2" "card3 card4 card5";
  column-gap: 90px;
  row-gap: 50px;
  margin: 40px 100px;
}
.noticias-e-historias .card1 {
  display: flex;
  grid-area: card1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(241, 239, 239);
  border-radius: 10px;
}
.noticias-e-historias .card2, .noticias-e-historias .card5, .noticias-e-historias .card4, .noticias-e-historias .card3 {
  display: flex;
  grid-area: card2;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  background-color: rgb(241, 239, 239);
  border-radius: 10px;
}
.noticias-e-historias .card3 {
  grid-area: card3;
}
.noticias-e-historias .card4 {
  grid-area: card4;
}
.noticias-e-historias .card5 {
  grid-area: card5;
}
.noticias-e-historias .text-card {
  text-align: justify;
  margin: 10px 0px;
}
.noticias-e-historias .text-card h2 {
  text-align: justify;
  font-size: 1.6em;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

/* .noticias-e-historias{
    @include media(mobile){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,auto) ;
        grid-template-areas:
        "card1 card1"
        "card2 card3" 
        "card4 card5";
        margin: 40px 100px 40px 100px ;
    }
    .text-card{
        text-align: justify;
        margin: 10px 0px;
        h2{
            text-align: justify;
            font-size: 1.4em;
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);   
        }
    }
} */
.img4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px 30px 30px;
  margin: 40px 100px;
}
.img4 h3 {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  color: #0ec0ca;
  text-shadow: 0em 0.009em 0.1em rgba(0, 0, 0, 0.226);
  margin: 40px 40px 10px 40px;
}
.img4 p {
  font-size: 1.5em;
  text-align: justify;
  margin: 20px 30px;
}

.img-card {
  width: 100%;
}

.img-wh2 {
  width: 100%;
}

.header-donacion {
  width: 100%;
  height: 600px;
  background: #0ec0ca;
  background: -webkit-linear-gradient(to bottom, rgba(14, 193, 202, 0.7176470588), hsla(191, 78%, 68%, 0.212)), url(../img/noticias-e-historias/Casa-nueva.jpg);
  background: linear-gradient(to bottom, rgba(14, 193, 202, 0.6705882353), hsla(191, 78%, 68%, 0.192)), url(../img/noticias-e-historias/Casa-nueva.jpg);
  background-size: cover;
  animation-name: IncioAnimado2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.header-donacion h1 {
  font-size: 3.5em;
  color: #fff;
  text-align: center;
  margin-top: 100px;
}

.como-donar {
  display: flex;
  padding: 0 30px;
  margin: 120px 40px;
  flex-direction: column;
  justify-content: center;
}
.como-donar h2 {
  font-size: 2.5em;
  margin: 10px 10px;
  text-align: center;
}
.como-donar p {
  font-size: 1.4em;
  margin: 20px 0;
  text-align: center;
}
.como-donar .donacion {
  display: flex;
  padding: 0 30px;
  margin: 0px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.como-donar .donacion div {
  width: 30%;
  border: solid black 1px;
  margin: 20px 10px;
}
.como-donar .donacion a {
  text-decoration: none;
  color: black;
}

/* .como-donar{
    @include media(tablet){
        @include flex (0 30px, 120px 60px, column, center);
    }
} */
.button-30 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #91e4fb;
  border-radius: 10px;
  border: solid #0ec0ca 3px;
  padding: 10px 20px;
}

.button-50 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #91e4fb;
  border-radius: 10px;
  border: solid #0ec0ca 3px;
  padding: 10px 20px;
}

.button-otrovalor {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #91e4fb;
  border-radius: 10px;
  border: solid #0ec0ca 3px;
  padding: 10px 20px;
  margin: 5px 20px 10px 20px;
}

.header-contacto {
  width: 100%;
  height: 600px;
  background: #0ec0ca;
  background: -webkit-linear-gradient(to bottom, rgba(14, 193, 202, 0.7176470588), hsla(191, 78%, 68%, 0.212)), url(../img/noticias-e-historias/Casa-fundacion.jpg);
  background: linear-gradient(to bottom, rgba(14, 193, 202, 0.6705882353), hsla(191, 78%, 68%, 0.192)), url(../img/noticias-e-historias/Casa-fundacion.jpg);
  background-size: cover;
  animation-name: IncioAnimado2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.header-contacto h1 {
  font-size: 3.5em;
  color: #fff;
  text-align: center;
  margin-top: 100px;
}

.contacto {
  display: block;
  width: 50%;
  height: 40%;
  margin: 120px 30px;
}
.contacto label {
  font-size: 1em;
  color: #0ec0ca;
  font-family: "Roboto", sans-serif;
}
.contacto button {
  color: #000000;
  background-color: #91e4fb;
  border-radius: 1px;
  border: solid #0ec0ca 3px;
  padding: 10px;
}

.input {
  border-radius: 0;
  border: solid 1px black;
}

.container-404 {
  background: #0ec0ca;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-404 .error-404 {
  display: block;
  text-align: center;
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  line-height: 1.7;
  color: #434343;
}
.container-404 .error-404 .boton {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  background: #0ec0ca;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 15px;
}

@media screen and (max-width: 900px) {
  .header-niño1,
  .header-vivienda,
  .header-asilo,
  .header-donacion {
    background-position: center;
  }
}
@media (width < 768px) {
  .textos-header h1 {
    font-size: 3em;
  }
  .textos-header h2 {
    font-size: 1.5em;
    margin: 0 40px;
  }
  .inicio-about {
    padding: 0 40px;
  }
  .inicio-about .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inicio-about .container .inicio-textos {
    margin: 40px;
  }
  .inicio-about .container .inicio-textos h3 {
    text-align: center;
  }
  .inicio-about .container .inicio-textos p {
    margin: 0px;
    text-align: justify;
  }
  .inicio-about .container .inicio-animado {
    margin-bottom: 100px;
  }
  .header-vivienda h1 {
    font-size: 2.5em;
  }
  .que-hacemos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
  .que-hacemos div {
    width: 90%;
  }
  .mision, .vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mision h2, .vision h2 {
    display: block;
  }
  .mision p, .vision p {
    display: inline-block;
  }
  .noticias-e-historias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "card1 card1" "card2 card3" "card4 card5";
    margin: 100px;
  }
  .header-secundario {
    width: 100%;
  }
  .inicio-about .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=main.css.map */
