@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  color: #0ec0ca;
}

h1 {
  font-size: 3.5em;
  margin-top: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.5em;
  margin-top: 40px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.6em;
}

p {
  color: grey;
  font-family: "Arial", sans-serif;
  font-size: 1.3em;
  margin: 10px 20px 10px 10px;
  padding: 0 10px;
  text-align: justify;
}

header {
  width: 100%;
  height: 450px;
}

.header-secundario {
  width: 100%;
  height: 300px;
  background: #0ec0ca;
  background: -webkit-linear-gradient(to bottom, #0ec0ca, hsla(191, 78%, 68%, 0)), url();
  background: linear-gradient(to bottom, #0ec0ca, hsla(191, 78%, 68%, 0)), url();
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bg-gris {
  background-color: rgb(241, 239, 239);
}

footer {
  bottom: 0;
  padding: 20px 30px;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #444444;
}

footer img {
  width: 30px;
  margin-right: 10px;
}

footer p {
  text-decoration: none;
  color: black;
}

.botonera img {
  width: 150px;
}
@media (min-width: 280px) and (max-width: 320px) {
  .botonera img {
    width: 100px;
  }
}
.botonera ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.6em;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.botonera ul li a:hover {
  color: rgb(0, 0, 0);
  background-size: 100% 2px;
}

.inicio {
  padding: 90px 10px 90px 10px;
}

.inicio-about {
  padding: 50px 0px 40px 0px;
  display: flex;
  justify-content: end;
}

.inicio-textos {
  width: 40%;
}
.inicio-textos h3 {
  text-align: justify;
  margin-left: 50px;
}
.inicio-textos h3 span {
  background: #0ec0ca;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: justify;
  width: 20px;
  height: 20px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  margin-right: 10px;
}

.inicio-animado {
  height: 350px;
  width: 500px;
  background-size: cover;
  animation-name: IncioAnimado;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.inicio-animado2 {
  width: 100%;
  height: 600px;
  background: #0ec0ca;
  background: -webkit-linear-gradient(to bottom, #0ec0ca, hsla(191, 78%, 68%, 0.445)), url(../img/header/index/niño.webp);
  background: linear-gradient(to bottom, #0ec0ca, hsla(191, 78%, 68%, 0.445)), url(../img/header/index/niño.webp);
  background-size: cover;
  animation-name: IncioAnimado2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carousel {
  width: 70%;
  display: flex;
  align-items: center;
  padding: 70px 0 70px 0px;
  margin-left: 200px;
}

.carousel-img {
  width: auto;
  margin-left: 65px;
  margin-top: 40px;
}

.carousel-bg {
  background-color: rgb(241, 239, 239);
}

@keyframes IncioAnimado {
  0% {
    background-image: url(/img/que-hacemos/foto1-que-hacemos.jpg);
  }
  50% {
    background-image: url(/img/que-hacemos/foto2-que-hacemos.jpg);
  }
  100% {
    background-image: url(/img/que-hacemos/foto3-que-hacemos.jpg);
  }
}
@keyframes IncioAnimado2 {
  0% {
    background: linear-gradient(to bottom, rgba(14, 193, 202, 0.6784313725), hsla(191, 78%, 68%, 0.137)), url(/img/header/index/niño.webp);
  }
  50% {
    background: linear-gradient(to bottom, rgba(14, 193, 202, 0.6784313725), hsla(191, 78%, 68%, 0.137)), url(/img/header/index/Ansiano-asilo.webp);
  }
  100% {
    background: linear-gradient(to bottom, rgba(14, 193, 202, 0.6784313725), hsla(191, 78%, 68%, 0.137)), url(/img/header/index/Entrega-vivienda.webp);
  }
}
@media (width > 1327px) {
  header {
    height: 600px;
  }
}
@media (width < 1327px) {
  header {
    height: 500px;
  }
  h2 {
    font-size: 1.5em;
    padding: 0 10px;
  }
  .carousel {
    margin-left: 150px;
  }
  h1 {
    font-size: 3em;
    margin-top: 90px;
  }
}
@media (width < 1152px) {
  h1 {
    font-size: 3em;
    margin-top: 20px;
  }
  .inicio-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  .inicio-textos {
    width: 70%;
  }
  .carousel {
    margin-left: 120px;
  }
  .como-donar {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .como-donar p {
    margin: 20px 60px;
  }
}
h1 {
  text-align: center;
}

.que-hacemos {
  display: flex;
  padding: 70px 30px;
  margin: 120px 80px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.que-hacemos div {
  width: 30%;
  border: dashed #0ec0ca 2px;
  margin-top: 40px;
}
.que-hacemos div span {
  margin-top: 20px;
  font-size: 3.5em;
  font-family: "Roboto", sans-serif;
  color: #0ec0ca;
  text-shadow: 0em 0.009em 0.1em rgba(0, 0, 0, 0.226);
}
.que-hacemos div p {
  font-family: "Roboto", sans-serif;
  color: #0ec0ca;
  font-size: 1.6em;
  line-height: 1.5em;
  margin: 10px 0 40px 0;
  text-shadow: 0em 0.009em 0.1em rgba(0, 0, 0, 0.226);
  text-transform: uppercase;
  text-align: center;
}

@media (width < 1100px) {
  .que-hacemos {
    display: flex;
    padding: 70px 30px;
    margin: 120px 80px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.mision, .vision {
  display: flex;
  padding: 40px 50px;
  margin: 0px 70px;
  flex-direction: row;
  justify-content: space-between;
}
.mision h2, .vision h2 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  font-weight: 500;
}
.mision line, .vision line {
  stroke: #0ec0ca;
  stroke-width: 3;
}
.mision p, .vision p {
  display: inline-block;
  padding: 40px 0;
  margin-left: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 1.6em;
}

.vision {
  padding: 0px 50px;
  margin: 0px 70px;
}
.vision h2 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  font-weight: 500;
}
.vision line {
  stroke: #0ec0ca;
  stroke-width: 3;
}
.vision p {
  display: inline-block;
  padding: 40px 0;
  margin-left: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 1.6em;
}

.section-noticias-e-historias {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  padding-bottom: 100px;
  font-weight: 500;
}

.noticias-e-historias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "card1 card1 card2" "card3 card4 card5";
  column-gap: 90px;
  row-gap: 50px;
  margin: 40px 100px;
}
.noticias-e-historias .card1 {
  display: flex;
  grid-area: card1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(241, 239, 239);
  border-radius: 10px;
}
.noticias-e-historias .card2, .noticias-e-historias .card5, .noticias-e-historias .card4, .noticias-e-historias .card3 {
  display: flex;
  grid-area: card2;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  background-color: rgb(241, 239, 239);
  border-radius: 10px;
}
.noticias-e-historias .card3 {
  grid-area: card3;
}
.noticias-e-historias .card4 {
  grid-area: card4;
}
.noticias-e-historias .card5 {
  grid-area: card5;
}
.noticias-e-historias .text-card {
  text-align: justify;
  margin: 10px 0px;
}
.noticias-e-historias .text-card h2 {
  text-align: justify;
  font-size: 1.6em;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

@media (width < 768px) {
  .noticias-e-historias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "card1 card1" "card2 card3" "card4 card5";
    margin: 40px 100px 40px 100px;
  }
}
.noticias-e-historias .text-card {
  text-align: justify;
  margin: 10px 0px;
}
.noticias-e-historias .text-card h2 {
  text-align: justify;
  font-size: 1.4em;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

@media (width < 1100px) {
  .noticias-e-historias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "card1 card1" "card2 card3" "card4 card5";
    margin: 40px 100px 40px 100px;
  }
}

.img4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px 30px 30px;
  margin: 40px 100px;
}
.img4 h3 {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  color: #0ec0ca;
  text-shadow: 0em 0.009em 0.1em rgba(0, 0, 0, 0.226);
  margin: 40px 40px 10px 40px;
}
.img4 p {
  font-size: 1.5em;
  text-align: justify;
  margin: 20px 30px;
}

.img-card {
  width: 100%;
}

.img-wh2 {
  width: 100%;
}

.como-donar {
  display: flex;
  padding: 0 30px;
  margin: 120px 40px;
  flex-direction: column;
  justify-content: center;
}
.como-donar h2 {
  font-size: 2.5em;
  margin: 10px 10px;
  text-align: center;
}
.como-donar p {
  font-size: 1.4em;
  margin: 20px 0;
  text-align: center;
}
.como-donar .donacion {
  display: flex;
  padding: 0 30px;
  margin: 0px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.como-donar .donacion div {
  width: 30%;
  border: solid black 1px;
  margin: 20px 10px;
}
.como-donar .donacion a {
  text-decoration: none;
  color: black;
}

@media (width < 1100px) {
  .como-donar {
    display: flex;
    padding: 0 30px;
    margin: 120px 60px;
    flex-direction: column;
    justify-content: center;
  }
}

.button-30 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #91e4fb;
  border-radius: 10px;
  border: solid #0ec0ca 3px;
  padding: 10px 20px;
}

.button-50 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #91e4fb;
  border-radius: 10px;
  border: solid #0ec0ca 3px;
  padding: 10px 20px;
}

.button-otrovalor {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #91e4fb;
  border-radius: 10px;
  border: solid #0ec0ca 3px;
  padding: 10px 20px;
  margin: 5px 20px 10px 20px;
}

.contacto {
  display: block;
  width: 50%;
  height: 40%;
  margin: 120px 30px;
}
.contacto label {
  font-size: 1em;
  color: #0ec0ca;
  font-family: "Roboto", sans-serif;
}
.contacto button {
  color: #000000;
  background-color: #91e4fb;
  border-radius: 1px;
  border: solid #0ec0ca 3px;
  padding: 10px;
}

.input {
  border-radius: 0;
  border: solid 1px black;
}

/*# sourceMappingURL=main.css.map */
