@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}


html{
    font-size: 62.5;
}


h1,
h2,
h3{
    color:black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h1{
    font-size: 3rem;

}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

p{
    color: rgb(78, 78, 78);
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-left: 20px;
    margin-top: 10px;
    padding: 0 60px;
}

label{
    color: #14bae4;
}


.botonera{
    background-color: rgb(14, 192, 202);
}

    .botonera ul{
        list-style: none;
        margin-top: 40px;
    }

    .botonera img{
        width: 150px;
        height:100px;
        margin-right: 10px;
    } 

        .botonera ul li{
            display: inline-block;
            margin-right: 10px;
        }

            .botonera ul li a{
                color: rgb(255, 255, 255);
                text-decoration: none;
                font-size: 1.3rem;
                font-family: 'Roboto', sans-serif;  
            }

                .botonera ul li a:hover{
                    color: black;
                    text-decoration: underline;
                }
                
            

header{
    text-align: center;
    margin-top: 20px;
}

    header img{
        width: 100%;
    }



.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
    margin-top: 20px;
}

.text-right{
    text-align: right;
}



.img-logo{
    width: 130px;
    height:100px;
}



.que-hacemos{
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

    .que-hacemos div{
        width: 30%;
        border: solid black 1px;
        margin-top: 40px;
    }

        .que-hacemos img{
            margin-top: 20px;
            width: 90%;
            height: auto;
        }

            .que-hacemos h2{
                font-size: 1.2rem;
                margin: 10px 10px;
            }

                .que-hacemos p{
                    font-size: 1rem;
                    line-height: 1.4rem;
                    text-align: left;
                    margin: 10px 0 20px 0;
                }



.contacto{
    display: block;
    width: 50%;
    height: 40%;
    margin: 10px 30px;
}

    .contacto label{
        font-size: 1em;
        color: #0ec0ca;
        font-family: 'Roboto', sans-serif;
    }

        .input{
            border-radius: 0;
            border: solid 1px black;
        }

            button{
                color: #000000;
                background-color: #91e4fb;
                border-radius: 1px;
                border: solid #0ec0ca 3px;
                padding: 10px;
            }



.contenedor{
    width: 90%;
    height:auto;
    margin: 20px auto;
    padding: 10px 50px;
    overflow-y: auto;
}





            .filters{
                padding: 0 20px 30px 30px;
            }
            
                .filters a{
                    color: rgb(134, 130, 132);
                    font-size: 1.1em;
                    text-decoration: none;
                    margin-bottom: 4px;
                }
            
                    .filters a:hover{
                        color:rgb(0, 0, 0);
                    }
            
                .filters span{
                    display: block;
                    color: rgb(0, 0, 0);
                    margin: 10px 10px;
                    letter-spacing: 1px;
                }
            
                .filters select{
                    color: rgb(0, 0, 0);
                    border: none;
                    background-color: white;
                    margin-bottom: 10px;
                    font-size: 1.4em;
                }
            
                .filters li{
                    list-style: none;
                    text-align: left;
                }
            
            .actions{
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            
            .actions button{
                margin-left: 10px;
                background-color: rgb(0, 0, 0);
                color: white;
                padding: 6px;
                border: none;
                border-radius: 3px;
            }
            
            .actions input{
                padding: 6px;
                border-radius: 3px;
                border: none;
                background-color: rgb(243, 245, 245);
            }
            
        .noticias-e-historias{
                display: grid;
                grid-template-columns: 38% 38% 21%;
                grid-template-rows: 80px repeat(5,300px);
                grid-template-areas: 
                "actions actions actions" 
                "text text text" 
                "dos tres filters"
                "cuatro cinco filters"
                "seis siete filters";
                row-gap: 20px;
                padding-left: 30px;
            }
            
            
                .noticias-e-historias .actions{
                    padding: 0 30px;
                    grid-area: actions;
                }
            
                .noticias-e-historias .filters{
                    grid-area: filters;
                }
            
                .noticias-e-historias .text{
                    grid-area: text;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    
                }

                .noticias-e-historias .articulo2{
                   grid-area: dos;
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: center;
                }

                .img2{
                    width: 100%;
                    height: 100%;
                }
            
                .noticias-e-historias .articulo3{

                    grid-area: tres;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: solid #000000 1px;
                }
            
                .noticias-e-historias .articulo4{

                    grid-area: cuatro;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .noticias-e-historias .articulo5{
                    grid-area: cinco;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: solid #000000 1px;
                }

                .noticias-e-historias .articulo6{
                    grid-area: seis;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .noticias-e-historias .articulo7{
                    grid-area: siete;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: solid #000000 1px;
                }


.como-donar{
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

    .como-donar div{
        width: 30%;
        border: solid black 1px;
        margin: 20px 10px;

    }

        .como-donar img{
            width: 40%;
            margin-top: 10px;
        }

            .como-donar p{
                font-size: 1rem;
                line-height: 1.2rem;
                margin: 20px 0;
                text-align: center;
            }

                .como-donar h2{
                    font-size: 1.6rem;
                    margin: 10px 10px;
                }

                    .como-donar a{
                        text-decoration: none;
                        color: black;
                    }





.button-30{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #91e4fb;
    border-radius: 10px;
    border: solid #0ec0ca 3px;
    padding: 10px 20px;

}


    .button-50{
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        background-color: #91e4fb;
        border-radius: 10px;
        border: solid #0ec0ca 3px;
        padding: 10px 20px;
    }


        .button-otrovalor{
            display: inline-block;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            background-color: #91e4fb;
            border-radius: 10px;
            border: solid #0ec0ca 3px;
            padding: 10px 20px;
            margin: 5px 20px 10px 20px;
        }




footer{
    padding: 20px 30px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444444;
    }



@media(width < 768px){

/* que-hacemos */
    .que-hacemos div{
        width: 100%;
    }

    .que-hacemos h2{
        font-size: 1.6rem;
        margin: 20px 10px;
    }

    .que-hacemos p{
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin: 20px 0px;
        text-align: center;
    }

/* noticias e historias */
    .noticias-e-historias{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9,auto);
        grid-template-areas: 
        "actions" 
        "text" 
        "filters"
        "dos"
        "tres"
        "cuatro"
        "cinco"
        "seis"
        "siete";
    }

    .noticias-e-historias div{
        padding: 10px 0;
        margin: 0px 30px 0px 10px;
    }


    nav ul,
    .filters span,
    .filters ul{
        display: none;
    }

    .filters select{
        background-color: rgb(243, 245, 245);
        display: block;
        width: 90%;
        margin: 10px 30px 5px 20px;
        padding: 6px;
        border-radius: 4px; 
    }
    .actions{
        justify-content: center;
        margin-top: 20px; 
    }

    .actions input[placeholder= "buscar"]{
        width: 350px;
        margin: 20px 0px 5px 0px;
    }

}

.carousel-img{
    width: 90%;
    margin-left: 65px;
    margin-top: 40px
}