.header-donacion{
    width: 100%;
    height: 600px;
    background: #0ec0ca;  
    background: -webkit-linear-gradient(to bottom, #0ec1cab7, hsla(191, 78%, 68%, 0.212)), url(../img/noticias-e-historias/Casa-nueva.jpg);  
    background: linear-gradient(to bottom, #0ec1caab,  hsla(191, 78%, 68%, 0.192)), url(../img/noticias-e-historias/Casa-nueva.jpg); 
    background-size: cover;
    animation-name: IncioAnimado2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    h1{
        font-size: $textLg;
        color:#fff;
        text-align: center;
        margin-top: 100px
    }
}


.como-donar{
    @include flex (0 30px, 120px 40px, column, center);
    h2{
            font-size: $textMd;
            margin: 10px 10px;
            text-align: center; 
        }
    p{
        font-size: 1.4em;
        margin: 20px 0;
        text-align: center;  
    }
    .donacion{
        @include flex (0 30px, 0px, row, center);
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        
        div{
            width: 30%;
            border: solid black 1px;
            margin: 20px 10px;
        }
        
        a{
            text-decoration: none;
            color: black; 
        }
    }
}

/* .como-donar{
    @include media(tablet){
        @include flex (0 30px, 120px 60px, column, center);
    }
} */

.button-30{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #91e4fb;
    border-radius: 10px;
    border: solid #0ec0ca 3px;
    padding: 10px 20px;

}


    .button-50{
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        background-color: #91e4fb;
        border-radius: 10px;
        border: solid #0ec0ca 3px;
        padding: 10px 20px;
    }


        .button-otrovalor{
            display: inline-block;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            background-color: #91e4fb;
            border-radius: 10px;
            border: solid #0ec0ca 3px;
            padding: 10px 20px;
            margin: 5px 20px 10px 20px;
        }


