.contacto{
    display: block;
    width: 50%;
    height: 40%;
    margin: 120px 30px;
    label{
        font-size: 1em;
        color: #0ec0ca;
        font-family: 'Roboto', sans-serif;
    }
    button{
        color: #000000;
        background-color: #91e4fb;
        border-radius: 1px;
        border: solid #0ec0ca 3px;
        padding: 10px;
    }
}


.input{
    border-radius: 0;
    border: solid 1px black;
}
