@media (width > 1327px){
    header{
        height: 600px;
    }
}

@media (width < 1327px){
    header{
        height: 500px;
    }
    h2{
        font-size: 1.5em;
        padding: 0 10px;
    }
    .carousel{
        margin-left: 150px;
    }
    h1{
        font-size: 3em;
        margin-top: 90px;
    }
}

@media (width < 1152px){
    h1{
        font-size: 3em;
        margin-top: 20px;
    }
   .inicio-about{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
   }
   .inicio-textos{
    width: 70%;
   }
   .carousel{
    margin-left: 120px;
    }
    .como-donar{
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .como-donar p{
        margin: 20px 60px;

    }
}

