//mixins

@mixin h1-h2($size, $top, $bottom){
    font-size: $size;
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin textos ($size, $line, $color){
    font-size: $size;
    line-height: $line;
    color: $color;
    font-family: $mainFont;
}

@mixin grid-flex ($area, $direction, $justify, $aling, $color){
    display: flex;
    grid-area: $area;
    flex-direction: $direction;
    justify-content: $justify;
    text-align: $aling;
    background-color: $color;
    border-radius: 10px;
}

@mixin flex ($padding, $margin, $direction, $justify){
    display: flex;
    padding: $padding;
    margin: $margin;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin h2-que-hacemos ($display, $size, $font){
    display: $display;
    font-family: $mainFont;
    font-size: $size;
    font-weight: $font;
}

@mixin p-que-hacemos ($display, $padding, $margin, $size){
    display: $display;
    padding: $padding;
    margin-left: $margin;
    font-family: $mainFont;
    font-size: $size;
}


@mixin media($breakpoint){
    @if $breakpoint == mobile{
        @media (width < 768px){
            @content;
        }
    }
    @if $breakpoint == tablet{
        @media (width < 1100px){
            @content;
        }
    }
    @if $breakpoint == desktop{
        @media (width > 1101px){
            @content;
        }
    }
}
