.header-vivienda{
    width: 100%;
    height: 600px;
    background: #0ec0ca;  
    background: -webkit-linear-gradient(to bottom, #0ec1cab7, hsla(191, 78%, 68%, 0.212)), url(../img/header/Entrega_vivienda.jpg);  
    background: linear-gradient(to bottom, #0ec1caab,  hsla(191, 78%, 68%, 0.192)), url(../img/header/index/Entrega-vivienda.webp); 
    background-size: cover;
    animation-name: IncioAnimado2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    h1{
        font-size: $textLg;
        color:#fff;
        text-align: center;
        margin-top: 200px
    }
}
.que-hacemos{
    @include flex (70px 30px, 120px 80px, row, space-between);
    flex-wrap: wrap;
    text-align: center;
    div{
        width: 30%;
        border: dashed $ColorPrincipal 2px;
        margin-top: 40px; 
        span{
            margin-top: 20px;
            font-size: $textLg;
            font-family: $mainFont;
            color: $ColorPrincipal;
            text-shadow: 0em 0.009em 0.1em rgba(0, 0, 0, 0.226);
        }
        p{
            font-family: $mainFont;
            color: $ColorPrincipal;
            font-size: $textSm;
            line-height: 1.5em;
            margin: 10px 0 40px 0;
            text-shadow: 0em 0.009em 0.1em rgba(0, 0, 0, 0.226);
            text-transform: uppercase;
            text-align: center;  
        }
    }
}


.mision{
    @include flex (40px 50px, 0px 70px, row, space-between);
    h2{
        @include h2-que-hacemos(inline-block, $textMd,500);
    }
    line{
        stroke: $ColorPrincipal;
        stroke-width: 3;
    }
    p{
        @include p-que-hacemos (inline-block, 40px 0, 100px, $textSm);
    }
}



.vision{
    @extend .mision;
    padding: 0px 50px;
    margin: 0px 70px;
    h2{
        @include h2-que-hacemos(inline-block, $textMd,500); 
    }
    line{
        stroke: $ColorPrincipal;
        stroke-width: 3;
    }
    p{
        @include p-que-hacemos (inline-block, 40px 0, 100px, $textSm); 
    }
}
